@charset "utf-8";

.App {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.2;
}

.App--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}